---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Defensive Security Consultant with expertise in SecOps, Security
			Engineering, Threat Hunting and Incident Response. I enjoy tinkering
			in my home lab during my free time.
		</p>
	</div>
</PageLayout>
